.shadow-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.left-border-radius {
    border-radius: 10px 0px 0px 10px;
}

.right-border-radius {
    border-radius: 0px 10px 10px 0px;
}